:root {
  --dark-blue: #003b95;
  --light-blue: #006ce4;
  --hover: #1a50a1;
  --yellow: #febb02;
  --green: #008234;
  --link: #187ae5;
  --link-hover: #f0f6fd;
  --selected: #f2f2f2;
  --footer: #f5f5f5;
  --footer-hover: #dfdfdf;
  --container-padding: 7rem;
  --footer-color: #1a1a1a;
  --genius: #004cb8;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

h1 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

p {
  font-weight: 400;
  line-height: 1.5;
}
a {
  text-decoration: none !important;
}

/* Start Navbar */

.navbar {
  background-color: var(--dark-blue) !important;
}
.navbar .container,
.landing .container,
.footer {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.navbar-nav .nav-link.item:hover,
.navbar-nav .nav-link.item10:hover {
  background-color: var(--hover);
}

.navbar-nav .nav-link.item10 {
  transform: translateY(-5px);
  display: inline-flex;
  align-items: center;
}

.navbar-nav .nav-link.item2 {
  border-radius: 30px;
}

.navbar-nav .nav-link.item2:hover {
  background-color: var(--hover);
  border-radius: 30px;
}

.navbar-nav .active {
  background-color: var(--hover);
  border-radius: 30px;
  border: 1px solid white;
  padding: 0.5rem 1rem;
}

.navbar-nav .one {
  color: var(--yellow);
  font-size: small;
  font-weight: 500;
}
/*End Navbar*/

.landing {
  background-color: var(--dark-blue);
  min-height: calc(40vh - 72px);
}

.text {
  color: white;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .responsive-heading {
    font-size: 3rem;
    font-weight: bold;
  }
}

/* Form */

.between .container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
  top: -80px;
}

.input-container {
  position: relative;
  margin-bottom: 0;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-input-height {
  height: 50px;
  padding-left: 2rem;
  background-color: white;
}
@media (max-width: 576px) {
  .between .col-sm-12 {
    border: 5px solid #ffc107 !important;
    border-radius: 5px !important;
  }

  .between .col-sm-12:last-child {
    margin-bottom: 0;
  }
}

.offer {
  position: relative;
}

.offer .row {
  position: relative;
}

.offer::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--light-blue);
  position: absolute;
  bottom: -20px;
  left: 51.1%;
  border-radius: 50%;
}

.color {
  background-color: var(--light-blue) !important;
  color: white !important;
}

.color:hover {
  background-color: var(--dark-blue) !important;
}
.input-container input {
  padding-left: 2rem;
}

.card-img-overlay,
.pointer {
  cursor: pointer;
}

.dark {
  background-color: var(--genius);
  color: white;
  padding: 2px 6px;
  font-size: 0.6rem;
  font-weight: bold;
  line-height: 1;
  border-radius: 2px;
}
.green {
  background-color: var(--green);
  color: white;
  padding: 2px 6px;
  font-size: 0.7rem;
  line-height: 1;
  border-radius: 2px;
  height: 18px !important;
}

.dashed {
  text-decoration: line-through;
  color: red !important;
}
.item3,
.item4 {
  text-decoration: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: var(--link) !important;
}

.item3:hover {
  background-color: var(--link-hover) !important;
  border-radius: 4px;
}
.item4:hover {
  text-decoration: underline !important;
}
.line:hover {
  text-decoration: underline !important;
}
.item9:hover {
  text-decoration: underline !important;
  color: var(--footer-color) !important;
}

@media screen and (max-width: 768px) {
  .item3 {
    display: none;
  }
  .offer::after {
    display: none;
  }
}

.fa-heart:hover {
  opacity: 0.9;
}

div.spend {
  background-color: var(--dark-blue) !important;
  color: white !important;
  cursor: pointer;
}

div.lock {
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

.small {
  font-size: 0.9rem !important;
}

.genius {
  font-size: 1rem !important;
  font-weight: bold;
}

.card-img {
  transition: transform 0.3s ease-in;
}

.card-img-wrapper:hover .card-img {
  transform: scale(1.1);
  border-radius: 25px !important;
}

.active2 {
  background-color: var(--link-hover);
  border-radius: 30px;
  border: 1px solid var(--light-blue);
  padding: 0.5rem 1rem;
  color: var(--light-blue) !important;
}

.item30 {
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  color: black !important;
  padding: 0.5rem 1rem;
}

.item30:hover {
  background-color: var(--selected) !important;
  border-radius: 30px;
}

.footer {
  background-color: var(--footer);
}
.grey {
  padding: 0.4rem 0.8rem;
  transition: background-color 0.3s ease;
}

.grey:hover {
  background-color: var(--footer-hover);
}

.item10 {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.item10:hover {
  background-color: var(--footer-hover);
}

.d-flex.align-items-center.gap-2 > a {
  border-radius: 4px;
}

.grey.h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0.1rem);
}
.blue {
  color: var(--light-blue) !important;
  padding: 0.5rem 1rem !important;
}
.blue:hover {
  background-color: var(--link-hover) !important;
  border-radius: 4px;
}
.rating {
  color: var(--footer-color);
}
.line {
  position: relative;
  padding-right: 0.1rem;
}

.line::after {
  content: "•";
  position: absolute;
  right: -5px;
  top: 8px;
  color: #000;
  font-size: 0.4rem;
}
